@model ProizvodiViewModel
@{
    var jsonModelList = Model.jsonProizvodi;

    var dbModelList = Model.dbProizvodi;
}
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
         button{
             min-width : 50px;
             min-height: 20px;
         }
    </style>
</head>
<body>
    <form>
@if (jsonModelList != null && jsonModelList.Count > 0)
{
    <h1>Json proizvodi</h1>
    <table class="table table-hover">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Kategorija</th>
            <th>Proizvodjac</th>
            <th>Dobavljac</th>
            <th>Cena</th>
            <th>Izmena</th>
        </tr>
        @foreach (var jsonModel in jsonModelList)
        {
            <tr>
                <td>@jsonModel.Naziv</td>
                <td>@jsonModel.Opis</td>
                <td>@jsonModel.Kategorija</td>
                <td>@jsonModel.Proizvodjac</td>
                <td>@jsonModel.Dobavljac</td>
                <td>@jsonModel.Cena</td>
                <td><button asp-action="Edit" asp-controller="Home" asp-route-id="@jsonModel.Id" asp-route-type="@TypeWellKnownValues.json" formmethod="post">Izmena</button></td>
            </tr>
        }
    </table>
}
<br>
@if (dbModelList != null && dbModelList.Count > 0)
{
    <h1>Database proizvodi</h1>
    <table class="table table-hover">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Kategorija</th>
            <th>Proizvodjac</th>
            <th>Dobavljac</th>
            <th>Cena</th>
            <th>Izmena</th>
        </tr>
        @foreach (var dbModel in dbModelList)
        {
            <tr>
                <td>@dbModel.Naziv</td>
                <td>@dbModel.Opis</td>
                <td>@dbModel.Kategorija</td>
                <td>@dbModel.Proizvodjac</td>
                <td>@dbModel.Dobavljac</td>
                <td>@dbModel.Cena</td>
                <td><button asp-action="Edit" asp-controller="Home" asp-route-id="@dbModel.Id" asp-route-type="@TypeWellKnownValues.dataBase" formmethod="post">Izmena</button></td>
            </tr>
        }
    </table>
}
</form>
</body>
</html>
